<h1>{{title}}</h1>

<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <div class="badge">{{hero.id}}</div> <span>{{hero.name}}</span>
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2>{{selectedHero.name}} Details!</h2>
    <div>
        <label>ID:</label> {{selectedHero.id}}
    </div>
    <div>
        <label>Name:</label>
        <input [(ngModel)]="selectedHero.name" placeholder="name" >
    </div>
</div>
