.heroes {
    /*margin: 0 0 2em 0;*/
    list-style-type: none;
    padding: 0;
    column-count: 3;
}
.heroes li {
    cursor: pointer;
    left: 0;
    background-color: #EEE;
    margin: 0 0.5em 0.5em 0.5em;
    padding: 0;
    height: 3em;
    line-height: 3em;
    border-radius: 4px;
}
.heroes li.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.heroes .badge {
    font-size: small;
    color: white;
    display: inline-block;
    vertical-align: top;
    padding: 0 0.7em;
    background-color: #607D8B;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    text-align: center;
}
.heroes .info {

}
div.delete-wrapper {
    float: right;
    height: 100%;
    padding-right: 0.5em;
    vertical-align: top;
}
button.delete {
    background-color: gray !important;
    color: white;
    margin: 0.5em 0.25em;
    vertical-align: middle;
}
